<!-- register.component.html -->
<div class="container-fluid register-form">
    <form needs-validation [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="note">
        <h1> 職員資料註冊 </h1>
      </div>
  
      <div class="mb-4">
        <label for="s_id" class="form-label">員工編號</label>
        <input type="text" autofocus formControlName="s_id" id="s_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['s_id'].errors,
                       'is-valid': submitted && !f['s_id'].errors }" />
        <div *ngIf="submitted && f['s_id'].errors" class="invalid-feedback">
          <div *ngIf="f['s_id'].errors['required']">s_id 為必填</div>
        </div>
      </div>

      <div class="mb-4">
        <label for="s_id" class="form-label">員工姓名</label>
        <input type="text" autofocus formControlName="s_name" id="s_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['s_name'].errors,
                       'is-valid': submitted && !f['s_name'].errors }" />
        <div *ngIf="submitted && f['s_name'].errors" class="invalid-feedback">
          <div *ngIf="f['s_name'].errors['required']">員工姓名為必填</div>
        </div>
      </div>

      <div class="mb-4">
        <label for="s_id" class="form-label">職位</label>
        <input type="text" autofocus formControlName="position" id="position" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['position'].errors,
                       'is-valid': submitted && !f['position'].errors }" />
        <div *ngIf="submitted && f['position'].errors" class="invalid-feedback">
          <div *ngIf="f['position'].errors['required']">職位為必填</div>
        </div>
      </div>

      <div class="mb-4">
        <label for="s_id" class="form-label">合約起始日</label>
        <input type="text" autofocus formControlName="contract_start_date" id="contract_start_date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['contract_start_date'].errors,
                       'is-valid': submitted && !f['contract_start_date'].errors }" />
        <div *ngIf="submitted && f['contract_start_date'].errors" class="invalid-feedback">
          <div *ngIf="f['contract_start_date'].errors['required']">合約起始日為必填</div>
        </div>
      </div>
  
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors,
                       'is-valid': submitted && !f['password'].errors }" />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password 為必填</div>
          <div *ngIf="f['password'].errors['minlength']">
            Password 必須至少為六個字元
          </div>
          <div *ngIf="f['password'].errors['maxlength']">
            Password 必須至多為四十個字元
          </div>
        </div>
        <div class="valid-feedback">
          填寫正確
        </div>
      </div>
  
      <div class="mb-4">
        <button type="submit" class="btn btn-primary">送出</button>
        <button type="button" (click)="onReset()" class="btn btn-warning float-end">
          重置
        </button>
      </div>
      <div class="alert alert-warning" *ngIf="isSignUpFailed">
        註冊失敗!<br />{{ errorMessage }}
      </div>
      <div class="alert alert-success" *ngIf="isSuccessful">
        註冊成功！
      </div>
    </form>
  </div>  