<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3><strong>{{ currentUser.username }}</strong> 個人訊息</h3>
    </header>
  
    <!-- 顯示職員資料 -->
    <div *ngIf="staff">
      <p><strong>職員名稱:</strong> 
        <span *ngIf="!isEditing">{{ staff.s_name }}</span>
        <input *ngIf="isEditing" [(ngModel)]="staff.s_name" placeholder="請輸入名稱">
      </p>
      <p><strong>職位:</strong> 
        <span *ngIf="!isEditing">{{ staff.position }}</span>
        <input *ngIf="isEditing" [(ngModel)]="staff.position" placeholder="請輸入職位">
      </p>
      <p><strong>合約開始日期:</strong> 
        <span *ngIf="!isEditing">{{ staff.contract_start_date | date }}</span>
        <input *ngIf="isEditing" [(ngModel)]="staff.contract_start_date" type="date">
      </p>
  
      <!-- 編輯按鈕 -->
      <div *ngIf="!isEditing">
        <button (click)="editStaff()">編輯</button>
      </div>
  
      <!-- 編輯模式下顯示保存和取消按鈕 -->
      <div *ngIf="isEditing">
        <button (click)="saveStaff()">儲存</button>
        <button (click)="cancelEdit()">取消</button>
      </div>
    </div>
  </div>
  
  <ng-template #loggedOut>
    請先登入
  </ng-template>
  