<div class="staff-container">
    <h1>查看職員名單</h1>
    <h2>{{ exhibitionName }}</h2>
  
    <button mat-raised-button color="primary" (click)="openAddStaffDialog()" class="add-staff-button">新增職員任務紀錄</button>
    
    <table mat-table [dataSource]="staffs" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 職員姓名 </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <strong style="font-size: 16px; margin-top: 12px; margin-bottom: 12px; display: block;">
              {{ element.name }}
            </strong>
            <mat-accordion>
              <mat-expansion-panel [disabled]="editingIndex === i || editingIndex !== null" *ngFor="let record of element.records; let i = index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <ng-container *ngIf="editingIndex !== i">
                        負責任務: {{ record.duty }}
                    </ng-container>
                    <ng-container *ngIf="editingIndex === i">
                      <input matInput [(ngModel)]="editableRecord.duty" />
                    </ng-container>
                  </mat-panel-title>
                </mat-expansion-panel-header>
    
                <div *ngIf="editingIndex !== i">
                  <button mat-button color="accent" (click)="enableEdit(element.id, i)">編輯</button>
                  <button mat-button color="warn" (click)="deleteRecord(element.id, i)">刪除</button>
                </div>
    
                <div *ngIf="editingIndex === i">
                  <button mat-button color="primary" (click)="saveEdit(element.id, i)">儲存</button>
                  <button mat-button color="warn" (click)="cancelEdit()">取消</button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="['name']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name'];"></tr>
    </table>  
  </div>
  